*{
    padding: 0;
    margin: 0;
}
.top{
    width: 100%;
    background: rgba(242, 206, 218, 0.3);
    display: flex;
    justify-content: center;
}
.container1{
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}
.head{
    display: flex;
    margin: 0 auto;        
    max-width: 1170px;
    height: 100px;
    align-items: center;
    justify-content: center;   
}
.icon{
    margin: 0;
    padding: 0;
    justify-content: left;
}
.menu{    
    width: 1091px;
    justify-content: center;
    text-align: center;   
}
.head a{
    text-decoration: none;
    padding: 20px;
    color: #150101;    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    justify-content: center;
}
.head a:first-of-type{
    padding-bottom: 23px;
    color: #D23166;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;   
}
.content{
    display: flex;
    box-sizing: border-box;    
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;    
    justify-content: center;
    text-align: left;
    align-items: center;    
}
.text{
    display: flex;    
    flex-direction: column;
    width: 100%;
}
.text h3{   
    font-family: 'Roboto', sans-serif;
    font-style: normal;    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;     
}
.text h1{
    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: normal;
    max-width: 665px;
    font-size: 57.33px;
    line-height: 69px;
    margin-bottom: 35px;
    padding-top: 0px;
}
.rose{
    color: rgba(210, 49, 102, 0.9);
}
.text p {    
    box-sizing: border-box;
    font-family: 'Hind-Madurai', sans-serif;
    line-height: 27px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(15,1,1,0.6);
    height: 78px;
    width: 523px;
    margin-bottom: 99px;
}
button{    
    background:#D23166;
    color: white;   
    border-radius: 5px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;    
    width: 165px;
    height: 49px;
    text-decoration: none;
    outline: none;
    border: 0px;
}
button:hover{
    background: rgba(210, 49, 102, 0.5);
}
.image{
    padding-bottom: 100px;
    max-width: 407px;   
}
.bottom{
    padding-top: 100px;
    width: 100%;
    background-color: white;
    justify-content: center;
}
.container2{    
    box-sizing: border-box;
    max-width: 1170px;
    padding: 15px;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;       
}
.menu2{
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}
.menu_item1, .menu_item2, .menu_item3, .menu_item4{
    box-sizing: border-box;    
    border-radius: 5px;
    text-align: center;
    padding: 26px;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    justify-content: center;
}
.menu2 h1{
    font-family: 'Hind Madurai', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
}
.menu2 h3{
    font-family: 'Hind Madurai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.menu_item2 h1{
    margin-top: 45px;
}
.menu_item4 h1{
    margin-top: 20px;
}
    
